html, body {
    height: 100%;
}

#app {
    font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-neutral-2);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    width: 100%;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .4s;
}

.fade-transform-enter-from {
    opacity: 0;
    transform: translateX(30px);
}
