/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .2s;
}

.fade-transform-enter-from {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
